[submodule "auth"]
	path = auth
	url = git@github.com:Clubs-Council-IIITH/auth.git
[submodule "composer"]
	path = composer
	url = git@github.com:Clubs-Council-IIITH/composer.git
[submodule "clubs"]
	path = clubs
	url = git@github.com:Clubs-Council-IIITH/clubs.git
[submodule "users"]
	path = users
	url = git@github.com:Clubs-Council-IIITH/users.git
[submodule "gateway"]
	path = gateway
	url = git@github.com:Clubs-Council-IIITH/gateway.git
[submodule "events"]
	path = events
	url = git@github.com:Clubs-Council-IIITH/events.git
[submodule "auth-dev"]
	path = auth-dev
	url = git@github.com:Clubs-Council-IIITH/auth-dev.git
[submodule "web"]
	path = web
	url = git@github.com:Clubs-Council-IIITH/web.git
[submodule "files"]
	path = files
	url = git@github.com:Clubs-Council-IIITH/files.git
[submodule "interfaces"]
	path = interfaces
	url = git@github.com:Clubs-Council-IIITH/interfaces.git
[submodule "feeder"]
	path = feeder
	url = git@github.com:Clubs-Council-IIITH/feeder.git
