volumes:
  subgraphs_data:

services:
  mongo:
    image: mongo:4.4
    volumes:
      - /mnt/share/mongo_stage:/data/db
    env_file:
      - $CC_CONFIG_PATH/staging/global
    restart: unless-stopped

  gateway:
    # image: cc-gateway:${IMAGE_TAG_GATEWAY:-latest}
    build: ./gateway
    volumes:
      - subgraphs_data:/subgraphs:ro
    env_file:
      - $CC_CONFIG_PATH/staging/global
      - $CC_CONFIG_PATH/staging/gateway
    environment:
      - NODE_ENV=production
    depends_on:
      - interfaces
      - clubs
      - members
      - events
      - users
    restart: unless-stopped

  nginx:
    build: ./nginx
    volumes:
      - ./nginx:/etc/nginx/conf.d
    depends_on:
      - auth
      - files
      - gateway
      - web
    environment:
      - VIRTUAL_HOST=dev.clubs.iiit.ac.in
      # - LETSENCRYPT_HOST=clubs.iiit.ac.in
    ports:
      - "9000:80"
    restart: unless-stopped

  # feeder:
  #   image: cc-feeder:${IMAGE_TAG_FEEDER:-latest}
  #   volumes:
  #     - ./data:/data
  #   depends_on:
  #     - mongo
  #   env_file:
  #     - $CC_CONFIG_PATH/staging/global
  #   restart: no

  web:
    image: cc-web:${IMAGE_TAG_WEB:-latest}
    env_file:
      - $CC_CONFIG_PATH/staging/global
      - $CC_CONFIG_PATH/staging/web
    restart: unless-stopped

  auth:
    image: cc-auth:${IMAGE_TAG_AUTH:-latest}
    env_file:
      - $CC_CONFIG_PATH/staging/global
      - $CC_CONFIG_PATH/staging/auth
    volumes:
      - ./config:/app/config
    restart: unless-stopped

  files:
    image: cc-files:${IMAGE_TAG_FILES:-latest}
    volumes:
      - /mnt/share/files-staging:/files
      - /root/static_files:/static_files:ro
      - ./config:/app/config
    env_file:
      - $CC_CONFIG_PATH/staging/global
      - $CC_CONFIG_PATH/staging/files
    restart: unless-stopped

  # subgraphs
  interfaces:
    image: cc-interfaces:${IMAGE_TAG_INTERFACES:-latest}
    volumes:
      - subgraphs_data:/subgraphs
      - ./config:/app/config
    depends_on:
      - mongo
    env_file:
      - $CC_CONFIG_PATH/staging/global
      - $CC_CONFIG_PATH/staging/interfaces
    restart: unless-stopped

  clubs:
    image: cc-clubs:${IMAGE_TAG_CLUBS:-latest}
    volumes:
      - subgraphs_data:/subgraphs
      - ./config:/app/config
    depends_on:
      - mongo
    env_file:
      - $CC_CONFIG_PATH/staging/global
    restart: unless-stopped

  members:
    image: cc-members:${IMAGE_TAG_MEMBERS:-latest}
    volumes:
      - subgraphs_data:/subgraphs
      - ./config:/app/config
    depends_on:
      - mongo
    env_file:
      - $CC_CONFIG_PATH/staging/global
    restart: unless-stopped

  events:
    image: cc-events:${IMAGE_TAG_EVENTS:-latest}
    volumes:
      - subgraphs_data:/subgraphs
      - ./config:/app/config
    depends_on:
      - mongo
    env_file:
      - $CC_CONFIG_PATH/staging/global
    restart: unless-stopped

  users:
    image: cc-users:${IMAGE_TAG_USERS:-latest}
    volumes:
      - subgraphs_data:/subgraphs
      - ./config:/app/config
    depends_on:
      - mongo
    env_file:
      - $CC_CONFIG_PATH/staging/global
    restart: unless-stopped
