networks:
  cc-shared-network:
    external: true
    name: cc-staging-shared-network

volumes:
  subgraphs_data:

services:
  gateway:
    # image: cc-gateway:${IMAGE_TAG_GATEWAY:-latest}
    build: ./gateway
    volumes:
      - subgraphs_data:/subgraphs:ro
    env_file:
      - $CC_CONFIG_PATH/staging/global
      - $CC_CONFIG_PATH/staging/gateway
    environment:
      - NODE_ENV=production
    depends_on:
      - interfaces
      - clubs
      - members
      - events
      - users
    networks:
      - cc-shared-network
    healthcheck:
      test: ["CMD-SHELL", "node -e \"require('http').get('http://localhost:80/health', (r) => {if (r.statusCode !== 200) throw new Error(r.statusCode)})\""]
      interval: 10s
      timeout: 10s
      retries: 30
      start_period: 60s
    restart: unless-stopped

  web:
    image: cc-web:${IMAGE_TAG_WEB:-latest}
    env_file:
      - $CC_CONFIG_PATH/staging/global
      - $CC_CONFIG_PATH/staging/web
    networks:
      - cc-shared-network
    restart: unless-stopped

  auth:
    image: cc-auth:${IMAGE_TAG_AUTH:-latest}
    env_file:
      - $CC_CONFIG_PATH/staging/global
      - $CC_CONFIG_PATH/staging/auth
    volumes:
      - ./config:/app/config
    networks:
      - cc-shared-network
    restart: unless-stopped

  files:
    image: cc-files:${IMAGE_TAG_FILES:-latest}
    volumes:
      - /mnt/share/files-staging:/files
      - /root/static_files:/static_files:ro
      - ./config:/app/config
    env_file:
      - $CC_CONFIG_PATH/staging/global
      - $CC_CONFIG_PATH/staging/files
    networks:
      - cc-shared-network
    restart: unless-stopped

  # subgraphs
  interfaces:
    image: cc-interfaces:${IMAGE_TAG_INTERFACES:-latest}
    volumes:
      - subgraphs_data:/subgraphs
      - ./config:/app/config
    env_file:
      - $CC_CONFIG_PATH/staging/global
      - $CC_CONFIG_PATH/staging/interfaces
    networks:
      - cc-shared-network
    restart: unless-stopped

  clubs:
    image: cc-clubs:${IMAGE_TAG_CLUBS:-latest}
    volumes:
      - subgraphs_data:/subgraphs
      - ./config:/app/config
    env_file:
      - $CC_CONFIG_PATH/staging/global
    networks:
      - cc-shared-network
    restart: unless-stopped

  members:
    image: cc-members:${IMAGE_TAG_MEMBERS:-latest}
    volumes:
      - subgraphs_data:/subgraphs
      - ./config:/app/config
    env_file:
      - $CC_CONFIG_PATH/staging/global
    networks:
      - cc-shared-network
    restart: unless-stopped

  events:
    image: cc-events:${IMAGE_TAG_EVENTS:-latest}
    volumes:
      - subgraphs_data:/subgraphs
      - ./config:/app/config
    env_file:
      - $CC_CONFIG_PATH/staging/global
    networks:
      - cc-shared-network
    restart: unless-stopped

  users:
    image: cc-users:${IMAGE_TAG_USERS:-latest}
    volumes:
      - subgraphs_data:/subgraphs
      - ./config:/app/config
    env_file:
      - $CC_CONFIG_PATH/staging/global
    networks:
      - cc-shared-network
    restart: unless-stopped
